.form-control {
    border: 1px solid $form-border;
    &:focus {
        border-color: $rma-primary-blue-1;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
label{
    font-size: 14px;
    color: rgb(131, 146, 165);
    margin-bottom: 0;
}
.card{
    margin-bottom: 25px;
    border-color: transparent;
    box-shadow: $shadow;
    &.no-shadow{
        box-shadow: none;
        border-color: $form-border;
    }
    &.listing-card{
        box-shadow: $listing-shadow;
        border-radius: 10px;
    }
    &.gray-card{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 0;
        background-color: #FBFBFB !important;
        border-color: $dark-blue;
        box-shadow: none;
    }
    &.has-border-blue{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 0;
        border-color: $rma-primary-blue-1;
        margin-bottom: 0;
        box-shadow: none;
    }
}
.form-control{
    box-shadow: $input-shadow;
    &[readonly] {
        background-color: $color-white;
        box-shadow: none;
    }
}
.has-label-on-border{
    .form-group{
        position: relative;
        margin-bottom: 25px;
        &.mb-15{
            margin-bottom: 15px;
        }
        label{
            position:absolute;
            top:-8px;
            left:20px;
            padding-left: 2px;
            background-color:$color-white;
            color: #414D55;
            font-size: 12px;
            font-weight: 500;
            z-index: 5;
            &.input-group{
                position: static;
            }
            &.c-radio-label, &.item-radio, &.file-input{
                position: relative;
                left: 0;
                top: 0;
                margin-bottom: 0;
            }
            &.c-label{
                position: static;
                background-color: transparent;
                padding-left: 0;
            }
        }
        .form-control{
            height: 45px;
            padding: 12px;
            font-size: 13px;
            &.value-right{
                text-align: right;
                padding-right: 32px;
            }
        }
        
        textarea.form-control {
            height: auto;
        }
    }
    .table {
        tr > th,
        tr > td {
            font-size: 13px;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}

//intl tel input
.iti__country-list{
    z-index: 99;
}
.iti--separate-dial-code .iti__selected-flag{
    background-color: transparent ;
}
.iti__flag-container:hover .iti__selected-flag {
    background-color:transparent !important;
}

// .iti__flag {background-image: url("/plugins/intl-tel-input-17.0.0/build/img/flags.png");}

// @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
//   .iti__flag {background-image: url("/plugins/intl-tel-input-17.0.0/build/img/flags@2x.png");}
// }

.input-wrapper {
    position: relative;
    .ic {
        position: absolute;
        top: 0;
        line-height: normal;
        /* height: 45px; */
        line-height: 45px;
        width: 29px;
        text-align: center;
        &.ic-right {
            right: 0;
        }
    }
}